#skills
#certifications
  h2
  li
  ul
  p
    font-weight 300

  div
    display flex
    font-size var(--size-preview)
    gap calc(var(--size-preview) * 0.375)
    margin calc(var(--size-preview) * 0.375) 0
    line-height calc(var(--size-preview) * 1.25)
    align-items flex-start

    h2
      font-weight 400
      min-width calc(var(--size-preview) * 14.625)
      font-size calc(var(--size-preview) * 1.0625)

    p
      overflow-wrap break-word

  li
    font-size var(--size-preview)
    margin calc(var(--size-preview) * 0.375) 0

    a
      font-weight 400

#experience
#education
#projects
  div
    margin calc(var(--size-preview) * 0.125) 0

    span
      display flex
      align-items center
      justify-content space-between
      gap calc(var(--size-preview) * 0.375)

      #tech-container
        display inline

      h2
        margin calc(var(--size-preview) * 0.25) 0
        font-size calc(var(--size-preview) * 1.0625)

      h3
        font-size calc(var(--size-preview) * 0.875)

    ul
      font-weight 300

      li
        margin 0.125rem 0
        font-size calc(var(--size-preview) * 0.9375)

    p
      font-weight 300
      font-size calc(var(--size-preview) * 1.0625)