#experience
#education
#projects
  div
    margin calc(var(--size-preview) * 0.125) 0

    span
      display flex
      align-items center
      justify-content space-between
      gap calc(var(--size-preview) * 0.375)

      h2
        margin calc(var(--size-preview) * 0.25) 0
        font-size calc(var(--size-preview) * 1.0625)

      h3
        font-size calc(var(--size-preview) * 0.875)

    ul
      font-weight 300

      li
        margin 0.125rem 0
        font-size calc(var(--size-preview) * 0.9375)

    p
      font-weight 300
      font-size calc(var(--size-preview) * 1.0625)