#personal
  text-align center

  h1
    font-weight 300
    font-size calc(var(--size-preview) * 2.5)

  h2
    margin calc(var(--size-preview) * 0.375) 0
    font-size calc(var(--size-preview) * 1.25)

  h3
    font-size var(--size-preview)

  h4
    font-size var(--size-preview)
    margin calc(var(--size-preview) * 0.375) 0

  hr
    margin var(--size-preview) 0