#skills
#certifications
  h2
  li
  ul
  p
    font-weight 300

  div
    display flex
    font-size var(--size-preview)
    gap calc(var(--size-preview) * 0.375)
    margin calc(var(--size-preview) * 0.375) 0
    line-height calc(var(--size-preview) * 1.25)
    align-items flex-start

    h2
      font-weight 400
      min-width calc(var(--size-preview) * 14.625)
      font-size calc(var(--size-preview) * 1.0625)

    p
      word-wrap break-word

  li
    font-size var(--size-preview)
    margin calc(var(--size-preview) * 0.375) 0

    a
      font-weight 400