header
footer
  margin 1rem
  user-select none
  text-align center
  font-size 1.25rem

  a
    color inherit
    position relative
    text-decoration none
    border-radius border-curve
    -webkit-tap-highlight-color tap-bg

    &:focus-visible
      outline edge-style main-fg

    &::before
      left 0
      width 100%
      content ''
      display block
      height 0.125rem
      bottom -0.25rem
      position absolute
      background main-fg
      transform scaleX(0)
      border-radius border-curve
      transform-origin bottom right
      transition transform transition-config

    @media (hover hover)
      &:hover::before
        transform scaleX(1)
        transform-origin bottom left

header
  font-size 1.375rem