.simple
  li
  ul
  p
    font-weight 300 !important

  div
    display flex
    align-items flex-start
    font-size var(--preview-size)
    gap calc(var(--preview-size) * 0.375)
    margin calc(var(--preview-size) * 0.375) 0
    line-height calc(var(--preview-size) * 1.25)

    h2
      font-weight 400
      min-width calc(var(--preview-size) * 14.625)
      font-size calc(var(--preview-size) * 1.0625)

  li
    font-size var(--preview-size)
    margin calc(var(--preview-size) * 0.375) 0

    a
      font-weight 400

.complex
  div
    margin calc(var(--preview-size) * 0.125) 0

    span
      display flex
      align-items center
      justify-content space-between
      gap calc(var(--preview-size) * 0.375)

      h2
        font-size calc(var(--preview-size) * 1.0625)
        margin calc(var(--preview-size) * 0.25) 0 !important

      h3
        font-size calc(var(--preview-size) * 0.875)

    ul
      font-weight 300 !important

      li
        margin 0.125rem 0
        font-size calc(var(--preview-size) * 0.9375)

    p
      font-weight 300 !important
      font-size calc(var(--preview-size) * 1.0625)

#person
  text-align center

  h1
    font-weight 300 !important
    font-size calc(var(--preview-size) * 2.5) !important

  h2
    font-size calc(var(--preview-size) * 1.25)
    margin calc(var(--preview-size) * 0.375) 0 !important

  h3
    font-size var(--preview-size)

  h4
    font-size var(--preview-size)
    margin calc(var(--preview-size) * 0.375) 0 !important

  hr
    margin var(--preview-size) 0