section
  padding 1rem
  color bg-field
  max-width 95svw
  width 49.625rem
  margin 0 1.3125rem
  background fg-main
  border-radius radius
  box-shadow shadow-main

  form
    gap 0.5rem
    display flex
    flex-direction column