main
  margin auto
  color black
  overflow-y auto
  max-width 95svw
  background white
  box-shadow shadow-main
  height calc(var(--size-preview) * 70)
  width calc(var(--size-preview) * 49.625)
  padding calc(var(--size-preview) * 1.4375) calc(var(--size-preview) * 2.9375)

  .content
    margin var(--size-preview) 0

  h1
  h2
  h3
  h4
  ul
  p
    margin 0
    font-weight 400

  h1
    line-height 1
    font-weight 500
    font-size calc(var(--size-preview) * 1.5)

  a
    color inherit
    text-decoration none
    border-radius radius
    -webkit-tap-highlight-color bg-tap

    &:focus-visible
      outline 2px solid fg-main

    @media (hover hover)
      &:hover
        background link
        box-shadow shadow-link