footer
  margin 1rem
  user-select none
  text-align center
  font-size 1.17rem

  a
    color fg-main
    text-decoration none
    -webkit-tap-highlight-color bg-tap

    @media (hover hover)
      &:hover
        color fg-hover