link = #ff03
radius = 0.25rem
fg-main = #1e293b // tw-slate-800
bg-main = #f1f5f9 // tw-slate-100
bg-field = #f8fafc // tw-slate-50
fg-tap = #1e293b80
bg-tap = #f1f5f980
border-color = #64748b // tw-slate-500
hover-color = #e2e8f0 // tw-slate-200
font-main = 'Geist Variable'
shadow-link = 0 2px 10px link
border-fg = 2px solid fg-main
shadow-main = 0 0 1px 0 fg-tap
outline = 2px solid transparent
border-bg = 2px solid border-color
transition = 150ms cubic-bezier(0.4, 0, 0.2, 1)

:root
  color fg-main
  min-height 100%
  background bg-main
  accent-color bg-main
  scroll-behavior smooth
  font-family font-main, sans-serif

  --size-preview 1rem

  #primary-container
    gap 1rem
    display flex
    align-items center
    flex-direction column
    justify-content center

    @media (min-width 64rem)
      flex-direction row
      align-items flex-start

  @media (max-width 52.25rem)
    --size-preview calc(100svw / 52.25)

::selection
  color bg-main
  background fg-main

// stylelint-disable-next-line import-notation, no-invalid-position-at-import-rule
@import 'styles/**/*.styl'