#editor-personal
#editor-experience
#editor-education
#editor-certification-issuer
  grid-template-columns repeat(2, minmax(4rem, 1fr))

#editor-personal-links
#editor-experience-date
#editor-education-date
  grid-template-columns repeat(3, minmax(4rem, 1fr))

.dragging
  z-index 1

  #drag-btn
    cursor grabbing !important

.experience-item
.education-item
.certification-item
  padding 0.25rem 0
  background fg-main
  border-radius radius
  display flex !important
  justify-content space-between

  span
    display inherit
    align-items center
    word-break break-all
    gap 0.75rem !important
    flex-direction row !important

    h1
      font-weight 400

  #trash-btn
    cursor pointer
    -webkit-tap-highlight-color fg-tap

  #drag-btn
    cursor grab

  #drag-btn
  #trash-btn
    min-width 2.5rem
    height 2.25rem
    color bg-field
    border outline
    border-radius radius
    transition transition
    background transparent
    transition-property border-color, background

    &:focus-visible
      outline-style solid
      outline-color border-color

    @media (hover hover)
      &:hover
        background border-color

.experience-list
.education-list
.certification-list
  gap 0.375rem !important